Welcome</br> 
<%= data.first_name %> <%= data.last_name %>
<h3>Here are your Boards</h3>
<% client_boards.each do |board| %>
	<a href= <%= board.url %>> Check it </a></br>
	<a href=/board/<%= board.id%>> Click this for the show route </a>
	This is the ID: <%= board.id %></br>
<% end %></br>

<h3>Here are your Pins</h3>
<% client_pins.each do |pin| %>
	<a href= <%= pin.url %>> Check it </a></br>
	this is the pin ID: <%= pin.id %></br>
<% end %></br>

<a href=/pins>pins</a></br>

<a href="/poke">Click here to do something</a>